 /*** Seperate CSS file with style declarations to prevent inline style declarations within orginal project html file***/

<style>
* {
  box-sizing: border-box;

  }

h1{
  text-align:center;
  font-size:100;

}

h2{
  text-align:center;
  position:relative;
  font-size:10;
  top:-40px;
  left:20px;
  border: 1px solid black;

}

#p {
  margin-top: 15px;
  background-color: pink;
  position:relative;
  width: 90%;
  height: 175px;
  border: 1px solid black;
  padding:20px;

}

#p1 {
  margin-top: 15px;

  background-color: blue;
  position:relative;
  float:left;
  width: 90%;
  height: 175px;
  border: 1px solid black;
  padding:20px;
 

  }

#p2 {
  margin-top: 15px;
  border: 1px ;
  background-color: red;
  position:relative;
  width: 90%;
  float:left;
  height: 175px;
  border: 1px solid black;
  padding:20px;
 

  

}
.row {
  width: 90%;
}
/********** Lap top view **********/
@media (min-width: 992px){
  .col-lg-4{
    float:left;
   
  }
  
   .col-lg-4{
    width:30%;
    margin-left:3%;
   }
}

/********** Tablet view only **********/
@media (min-width: 768px) and (max-width: 991px){
  .col-med-6{
    float: left;
    
  }
  .col-med-6{
    width:41%;
    margin-left:3%;
  }
  .col-med-7{
    width:90%;
    margin-left:3%;
  }
  
}

/*****Did not define for phone view as it is not needed, the default row width = 90% will take precendence  ****/
}
</style>